PUBLIC_MAPBOX_ACCESS_TOKEN=pk.personal-token
PUBLIC_GEOSERVER_URL=https://example.org/geoserver
PUBLIC_S3_BUCKET_URL=https://example-bucket.s3.example-region.amazonaws.com
PUBLIC_TITILER_URL=https://example.execute-api.example-region.amazonaws.com
